
<div class="page-wrapper">
    <div class="nav-wrapper">
     <div class="grad-bar"></div>
     <nav class="navbar">
       <!-- <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo"> -->
       <h2>Resume.IO</h2>
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
       <ul class="nav no-search">
         <li class="nav-item"><a href="#">Beginner</a></li>
         <li class="nav-item"><a href="#">Developer</a></li>
         <li class="nav-item"><a href="#">Tester</a></li>
         <li class="nav-item"><a href="#">Analyst</a></li>
         <!-- <i class="fas fa-search" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search.."> -->
       </ul>
     </nav>
     </div>
     <section class="headline">
       <h1>Resume.IO</h1>
       <p>Crafting Your Success: Build Your Future with Resume.IO</p>
     </section>
     <section class="features">
       <div class="feature-container">
         <img src="https://img.freepik.com/free-vector/minimalist-cv-template_23-2148907798.jpg?w=740&t=st=1693381591~exp=1693382191~hmac=87fc968f423e7834824ea781666cd080df46b1f661909b48f254db0fbba85877" alt="Flexbox Feature">
         <!-- <h2>Flexbox Featured</h2>
         <p>This pen contains use of flexbox for the headline and feature section! We use it in our mobile navbar and show the power of mixing css grid and flexbox.</p> -->
       </div>
       <div class="feature-container">
         <img src="https://img.freepik.com/free-vector/minimalist-cv-template_23-2148916161.jpg?w=740&t=st=1693381502~exp=1693382102~hmac=46d83416e6e08214f6baef0f487bb8487e38a6b4102855fb2dc9316d3f41bca3" alt="Flexbox Feature">
       </div>
       <div class="feature-container">
         <img src="https://img.freepik.com/free-vector/attractive-online-curriculum-template_23-2147820454.jpg?w=740&t=st=1693381565~exp=1693382165~hmac=2bd93758c84e43b9bded6ec5c30948f4d40f8fdd6dc45e9de9f91cab6fdb4902" alt="Flexbox Feature">
       </div>
     </section>
   </div>




<!-- 
   <div class="page-wrapper">
    <div class="nav-wrapper">
   <div class="grad-bar">
   <nav class="navbar">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">
      <li class="nav-item"><a href="#">Home</a></li>
      <li class="nav-item"><a href="#">About</a></li>
      <li class="nav-item"><a href="#">Work</a></li>
      <li class="nav-item"><a href="#">Careers</a></li>
      <li class="nav-item"><a href="#">Contact Us</a></li>
      <i class="fas fa-search" id="search-icon"></i>
      <input class="search-input" type="text" placeholder="Search..">
    </ul>
  </nav>
</div>
</div>
</div> -->