<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between py-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <form>
      <div class="collapse navbar-collapse mx-2" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-space-between">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SignUp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>

        </ul>
      </div>
    </form>
  </nav>

  <section>

    <div class="content-container">
      <div class="container">
        <div class="row mb-4 my-4 fl">
          <h1 class="font-weight-bold float-left">Resume Templates</h1>
        </div>
        <div class="row border border-light rounded-0 p-4">
          <div class="col-lg-6">
            <div class="row mb-4">
              <div class="col-lg-4">
                <a>Resumes</a>
              </div>
              <div class="col-lg-4">
                <a>CVs</a>
              </div>
              <div class="col-lg-4">
                <a class="text">Cover Letters</a>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-lg-4">
                <a class="text">Student/Intermediate</a>
              </div>
              <div class="col-lg-4">

                <a class="text">Seniors</a>
              </div>
              <div class="col-lg-4">
                <a class="text">All Levels of Experience</a>
              </div>
            </div>
          
            <div class="row">
              <div class="col-lg-12">
                <div class="d-flex justify-content-between mb-4">
                  <h2 class="text">Pick from 3+[Free] Resumes Templates</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="img-fluid">
              <img src="../assets/group.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1340 320">
        <path fill="#00C8AA" fill-opacity="1"
          d="M0,64L80,69.3C160,75,320,85,480,112C640,139,800,181,960,165.3C1120,149,1280,75,1360,37.3L1440,0L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
        </path>
      </svg>
    </div>
  </section>

</body>

</html> -->

<app-app-header *ngIf="showHeaderAndFooter"></app-app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="showHeaderAndFooter"></app-footer>