            .text {
                white-space: nowrap;
                /* overflow: hidden; */
                /* text-overflow: ellipsis; */
            }
            
            .link-container {
                margin-top: 10px;
                /* Adjust this value to control the amount of space */
            }
            
            @media (min-width: 1200px) {
                .container {
                    max-width: 1500px;
                }
            }
            
            .svg-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: scaleX(-1);
            }
            
            .content-container {
                position: relative;
                /* Make sure content is positioned within a relative container */
            }
            
            body {
                margin-bottom: 100px;
                height: 500px;
                background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1340 320"%3E%3Cpath fill="%2300C8AA" fill-opacity="1" d="M0,64L80,69.3C160,75,320,85,480,112C640,139,800,181,960,165.3C1120,149,1280,75,1360,37.3L1440,0L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"%3E%3C/path%3E%3C/svg%3E');
                background-size: cover;
                background-position: center;
                font-family: Arial, sans-serif;
                /* transform: scaleX(-1); */
                /* Invert horizontally */
            }